{
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ],
      "presets": [
        "@babel/preset-env", // Compila ES5 y ES6
        "@babel/preset-react" // Compila JSX y sintaxis de React
      ]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ],
      "presets": [
        "@babel/preset-env", // Compila ES5 y ES6
        "@babel/preset-react" // Compila JSX y sintaxis de React
      ]
    },
    "test": {
      "plugins": [
        [
          "styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ],
      "presets": [
        "@babel/preset-env", // Compila ES5 y ES6
        "@babel/preset-react" // Compila JSX y sintaxis de React
      ]
    }
  },
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    ["@babel/plugin-transform-runtime"]
  ]
}


